services:
  searxng:
    image: searxng/searxng:2026.1.20-410996df9
    container_name: searxng
    environment:
      - SEARXNG_BASE_URL=${BASE_URL}
    restart: unless-stopped
    networks:
      - caddy
    expose:
      - 8080
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    volumes:
      - ${CACHE_LOCATION}:/var/cache/searxng
      - ./searxng:/etc/searxng:rw
      - ./static/favicon.png:/usr/local/searxng/searx/static/themes/simple/img/favicon.png
      - ./static/favicon.svg:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg
      - ./static/favicon.svg.br:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg.br
      - ./static/favicon.svg.gz:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg.gz
      - ./static/searxng.png:/usr/local/searxng/searx/static/themes/simple/img/searxng.png
    healthcheck:
      test: "wget --nv --spider  http://127.0.0.1:8080 || exit 1"
      interval: 5m
      timeout: 5s
      retries: 3
      start_period: 10s

networks:
  caddy:
    external: true
