services:
  searxng-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    container_name: searxng-proxy
    environment:
      - OAUTH2_PROXY_CLIENT_ID=${OAUTH2_PROXY_CLIENT_ID}
      - OAUTH2_PROXY_CLIENT_SECRET=${OAUTH2_PROXY_CLIENT_SECRET}
      - OAUTH2_PROXY_COOKIE_NAME=__Secure-oauth2-proxy
      - OAUTH2_PROXY_COOKIE_SECRET=${OAUTH2_PROXY_COOKIE_SECRET}
      - OAUTH2_PROXY_COOKIE_SECURE=true
      - OAUTH2_PROXY_EMAIL_DOMAINS=["*"]
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
      - OAUTH2_PROXY_INSECURE_OIDC_ALLOW_UNVERIFIED_EMAIL=true
      - OAUTH2_PROXY_OIDC_ISSUER_URL=${OAUTH2_PROXY_OIDC_ISSUER_URL}
      - OAUTH2_PROXY_PROVIDER=oidc
      - OAUTH2_PROXY_REVERSE_PROXY=true
      - OAUTH2_PROXY_SCOPE=openid email profile groups
      - OAUTH2_PROXY_SKIP_AUTH_ROUTES=[".*/api/health"]
      - OAUTH2_PROXY_UPSTREAMS=http://searxng:8080
    restart: unless-stopped
    networks:
      - cloudflared
      - proxy
    ports:
      - 4180

  searxng:
    image: searxng/searxng:2026.1.20-410996df9
    container_name: searxng
    environment:
      - SEARXNG_BASE_URL=${BASE_URL}
    restart: unless-stopped
    networks:
      - caddy
      - proxy
    expose:
      - 8080
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    volumes:
      - ${CACHE_LOCATION}:/var/cache/searxng
      - ./searxng:/etc/searxng:rw
      - ./static/favicon.png:/usr/local/searxng/searx/static/themes/simple/img/favicon.png
      - ./static/favicon.svg:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg
      - ./static/favicon.svg.br:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg.br
      - ./static/favicon.svg.gz:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg.gz
      - ./static/searxng.png:/usr/local/searxng/searx/static/themes/simple/img/searxng.png
    healthcheck:
      test: "wget -nv --spider  http://127.0.0.1:8080 || exit 1"
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  caddy:
    external: true
  cloudflared:
    external: true
  proxy:
    name: proxy
