# see https://docs.searxng.org/admin/settings/settings.html#settings-use-default-settings
use_default_settings: true
general:
  instance_name: "Search"
server:
  secret_key: "ultrasecretkey" # change this!
  limiter: false # can be disabled for a private instance
  image_proxy: false # can be disabled for a private instance
ui:
  static_use_hash: true
  infinite_scroll: true
  query_in_title: true
search:
  autocomplete: "google"
  formats:
    - html
    - json
engines:
  # ENABLE
  - name: bing
    engine: bing
    shortcut: bi
    disabled: false

  # DISABLE
  - name: openverse
    engine: openverse
    categories: images
    shortcut: opv
    disabled: true
  - name: library of congress
    engine: loc
    shortcut: loc
    categories: images
    disabled: true
  - name: qwant
    qwant_categ: web
    engine: qwant
    shortcut: qw
    categories: [general, web]
    disabled: true
