general:
  instance_name: "Search"
server:
  secret_key: "secret"
  limiter: false
  public_instance: false
  image_proxy: true
  method: "GET"
  http_protocol_version: "1.1"
categories_as_tabs:
  general:
  images:
  videos:
ui:
  static_use_hash: true
  infinite_scroll: true
  query_in_title: true
outgoing:
  request_timeout: 5.0
plugins:
  searx.plugins.infinite_scroll.SXNGPlugin:
    active: true
search:
  autocomplete: "duckduckgo"
  favicon_resolver: "duckduckgo"
  default_lang: "en-US"
  formats:
    - html
    - json
use_default_settings:
  engines:
    remove:
      - bing
      - ahmia
      - xpath
      - torch
      - radio browser
      - openverse
      - wikidata
      - library of congress
